<h1>Stupid Coaching</h1>

<% if params[:question] == "I am going to work" %>
<% params[:action] = "Good!" %>
<% else %>
<% params[:action] = "Silly question, get dressed and go to work!" %>
<% end %>

<div class="card">
  <h3><%= params[:question] %></h3>
  <p>-You</p>
</div>

<div class="card">
  <h3><%= params[:action] %></h3>
  <p>-Coach</p>
</div>

<%= link_to "Ask another question", "/ask" %>
